.App {
  min-height: 100vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}
.search-button{
  background: grey;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.receipe-data-button{
  height:7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

hr{
  background-color:rgb(243, 243, 243);
  border:none;
  height:1px;
  font-weight: 700;
}

.receipe-data-button button{
  background-color:#9980FA;
  padding:0.4rem;
  margin:10px;
  margin-top: 5px;
  border-radius: 2px;
  color:#f7f1e3;
  margin-bottom: 3px;
  font-family: 'Roboto Condensed', sans-serif;;
  cursor: pointer;
}

.receipe-data-button button:hover{
  background-color:#0652DD
}


.receipe-data-button button a{
  color:#f7f1e3;
}

.intro {
  text-align: center;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10px;
}

.big-div {
  padding-left: 10rem;
}

.padding-top {
  padding-top: 20px
}

.lettuce-div {
    font-size: 3.5em;
    font-weight: 500;
    margin: 5px 0;
    line-height: 1.25;
    padding-bottom: 2rem;
}